nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f35d2a;
  border-bottom: 5px solid black;
  z-index: 600;
  font-size: 1em;
  font-size: clamp(1em, 1.5vw, 1.3em);
}

nav .nav-img {
  max-width: 908px;
  width: 50%;
  height: 93px;
  background-image: url(banner-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: right;
  border-right: 5px solid black;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin-right: 5%;
}

nav .nav-links a {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

nav .nav-links a:hover, nav .nav-links a.selected {
  color: white;
}

nav .nav-mascot {
  position: absolute;
  top: 6px;
  left: 12%;
  max-width: 100%;
}

nav .nav-insta {
  position: relative;
  margin-left: 100%;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  display: inline-block;
  font-size: 2.5rem;
  color: white;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

nav .nav-insta:hover {
  color: black;
}

html {
  margin: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover, a:visited {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: inherit;
}

h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'MADE GoodTime Grotesk', sans-serif;
  letter-spacing: 4px;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: black;
  overflow: visible;
}

body.locked {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.img {
  top: 0;
  left: 0;
  width: 100%;
  background-position: center;
  background-size: min(160vh, 130%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 80vh;
}

#orange {
  background-image: url(orange.jpg);
  background-color: #f35d2a;
}

#white {
  position: relative;
  background-image: url(white.jpg);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#white::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#white h1 {
  position: relative;
  display: block;
  font-size: 3.3rem;
  font-size: clamp(2.1rem, 4.5vw, 3.3rem);
  color: #f35d2a;
  max-width: 41rem;
  width: 90%;
  text-align: center;
  font-weight: 400;
  z-index: 200;
  line-height: 1.4;
  text-transform: uppercase;
}

#white h1 span {
  font-size: 4.2rem;
  font-size: clamp(3rem, 6vw, 4.4rem);
  color: #f35d2a;
  line-height: 1.6;
}

#black {
  background-image: url(black.jpg);
  background-color: #000;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(contact-bg-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1em;
  height: 17em;
  width: 100%;
  border: 5px solid white;
  border-radius: 6px;
}

.contact-text, .contact-email, .contact-number, .contact-header, .contact-insta {
  text-align: center;
  line-height: 1.6;
  max-width: 20rem;
  margin: 0;
  color: white;
  font-size: clamp(0.9rem, 4vw, 1.25rem);
}

.contact-header {
  font-size: 2.3em;
  font-size: clamp(1.8rem, 6.5vw, 2.6rem);
}

.contact-container {
  position: absolute;
  width: 80%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 400;
}

.contact-links {
  max-width: 29rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

@media screen and (max-width: 42em) {
  .contact-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-links > * {
    margin-top: .3em;
  }
}

.contact-links a:hover {
  color: black;
}

.contact-links a:hover .fas, .contact-links a:hover .fab {
  color: black;
}

.contact-links a .fas, .contact-links a .fab {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  margin-right: .4em;
}

.contact-links a, .contact-links .fab, .contact-links .fas {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  z-index: 500;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.overlay.active {
  opacity: 1;
}

@media screen and (max-width: 51.5em) {
  .nav-links, nav-links {
    display: none !important;
  }
  .nav-hamburger, nav-hamburger {
    margin-right: 2em;
  }
  .nav-hamburger > span, nav-hamburger > span {
    display: block;
    width: 26px;
    height: 2px;
    background: white;
    -webkit-transform-origin: 3px 1px;
            transform-origin: 3px 1px;
    margin-bottom: 5px;
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }
  .nav.open .nav-hamburger > span:first-child, nav.open .nav-hamburger > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav.open .nav-hamburger > span:nth-child(2), nav.open .nav-hamburger > span:nth-child(2) {
    opacity: 0;
  }
  .nav.open .nav-hamburger > span:last-child, nav.open .nav-hamburger > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (max-height: 33em) {
  nav {
    position: static;
  }
}
/*# sourceMappingURL=style.css.map */