nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0%;
  left: 0;
  width: 100%;
  background-color: #f35d2a;
  border-bottom: 5px solid black;
  z-index: 900;
  font-size: 1.3em;
}

nav .nav-img {
  max-width: 908px;
  width: 50%;
  height: 93px;
  background-image: url(banner-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: right;
  border-right: 5px solid black;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin-right: 5%;
}

nav .nav-links a {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

nav .nav-links a:hover, nav .nav-links a.selected {
  color: white;
}

nav .nav-mascot {
  position: absolute;
  top: 6px;
  left: 12%;
}

nav .nav-insta {
  position: relative;
  margin-left: 100%;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  display: inline-block;
  font-size: 2.5rem;
  color: white;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

nav .nav-insta:hover {
  color: black;
}

html {
  margin: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover, a:visited {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: inherit;
}

h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'MADE GoodTime Grotesk', sans-serif;
  letter-spacing: 4px;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
}

body {
  margin: 0;
  height: 150em;
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

.img {
  top: 0;
  left: 0;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 50em;
}

#orange {
  position: absolute;
  background-image: url(orange.jpg);
  height: 900px;
  background-color: #f35d2a;
}

#white {
  position: relative;
  background-image: url(white.jpg);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#white::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#white h1 {
  position: relative;
  display: block;
  font-size: 3.3rem;
  color: #f35d2a;
  max-width: 41rem;
  text-align: center;
  font-weight: 400;
  z-index: 200;
  line-height: 1.4;
  text-transform: uppercase;
}

#white h1 span {
  font-size: 4.2rem;
  color: #f35d2a;
  line-height: 1.6;
}

#black {
  position: -webkit-sticky;
  position: sticky;
  top: 200%;
  background-image: url(black.jpg);
  background-color: #000;
  z-index: 100;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(contact-bg-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1em;
  height: 17em;
  width: 100%;
}

.contact-text, .contact-email, .contact-number, .contact-header {
  text-align: center;
  line-height: 1.6;
  max-width: 20rem;
  margin: 0;
  color: white;
}

.contact-header {
  font-size: 2.7em;
}

.contact-container {
  position: absolute;
  width: 80%;
  top: 150em;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 5px solid white;
  border-radius: 6px;
}

.contact-links {
  max-width: 29rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.2rem;
}

.contact-links a:hover {
  color: black;
}

.contact-links a:hover .fas, .contact-links a:hover .fab {
  color: black;
}

.contact-links a .fas, .contact-links a .fab {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  margin-right: .4em;
}

.contact-links a, .contact-links .fab, .contact-links .fas {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */