{% extends "main/layout.html" %}
{% load static %}
{% block title %}About | Jaffa London{% endblock %}

{% block body %}

<section class="about-banner-header">
    <img class="about-banner-header-img" src="{% static 'main/images/mascot-logo.png' %}" alt="Damn good digi">

    <div class="header-left">
        <h1 class="about-banner-header-title">ABOUT</h1>
        <p class="about-banner-header-text">​
        I started as a photographic assistant about 10 years ago and moved into digital operating/teching in 2015. I now feel
        very lucky to have worked / still work with some of the photography industries best and most talented people.
        </p>
        <!-- <a href="#" class="banner-header-btn btn">QUOTE</a> -->
    </div>
    
</section>
<main class="about">
    <p>
        I created Jaffa so that I could supply the same high quality service as a digital operator without having to
        rely on
        the
        quality of out sourced rental equipment.
    </p>
    <p>
        At the moment I cannot sub hire equipment so all rentals will include myself at a day rate separate to rental
        costs.
    </p>
    <p>
        Let me know if you want to work together.
    </p>
    <p>
        Cheers<br>
        James
    </p>
</main>



{% endblock %}