{% extends "main/layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block body %}

<section class="setups-header">
    <div class="header-left">
        <h1 class="setups-header-title">SETUPS</h1>
        <p class="setups-header-text">Our most popular setups. Prices are for equipment rental only. Click below for a full quote including an engineer.</p>
        <a href="#" class="setups-header-btn btn">QUOTE</a>
    </div>
    <img class="setups-header-img" src="{% static 'main/images/digi.png' %}" alt="Damn good digi">
</section>

<main class="setups">

    <!--CARD START-->
    <div class="grid">
        <div class="card-container">
            <div class="card">
                <div class="card-img card-img-1"></div>
                <div class="card-content">
                    <h3 class="card-title">Studio Setup</h3>
                    <h4 class="card-subtitle">Single Monitor</h4>
                    <h2 class="card-price">£350 p/d</h2>
                    <p class="card-description">
                            M​acBook Pro 16"<br>
                            Inovative Voyager cart Eizo 27"<br>
                            Caldigit ts3 plus hub <br>
                            Digi essentials kit <br>
                    </p>
                    <a href="/" class="card-btn btn">BOOK</a>
                </div>
            </div>
        </div>
    <!--CARD END-->
    <!--CARD START-->
        <div class="card-container">
            <div class="card">
                <div class="card-img card-img-1"></div>
                <div class="card-content">
                    <h3 class="card-title">Studio Setup</h3>
                    <h4 class="card-subtitle">Single Monitor</h4>
                    <h2 class="card-price">£350 p/d</h2>
                    <p class="card-description">
                            M​acBook Pro 16"<br>
                            Inovative Voyager cart Eizo 27"<br>
                            Caldigit ts3 plus hub <br>
                            Digi essentials kit <br>
                    </p>
                    <a href="/" class="card-btn btn">BOOK</a>
                </div>
            </div>
        </div>
    <!--CARD END-->
    <!--CARD START-->
        <div class="card-container">
            <div class="card">
                <div class="card-img card-img-1"></div>
                <div class="card-content">
                    <h3 class="card-title">Studio Setup</h3>
                    <h4 class="card-subtitle">Single Monitor</h4>
                    <h2 class="card-price">£350 p/d</h2>
                    <p class="card-description">
                            M​acBook Pro 16"<br>
                            Inovative Voyager cart Eizo 27"<br>
                            Caldigit ts3 plus hub <br>
                            Digi essentials kit <br>
                    </p>
                    <a href="/" class="card-btn btn">BOOK</a>
                </div>
            </div>
        </div>
    
    <!--CARD END-->
    </div>

</main>

{% endblock %}