@font-face {
  font-family: "MADE GoodTime Grotesk";
  src: url("/static/main/fonts/MADEGoodTimeGrotesk.woff2") format("woff2"),
    url("/static/main/fonts/MADEGoodTimeGrotesk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
