#orange {
  background-image: url(../images/orange.jpg);
  background-color: $orange;
}

#white {
  position: relative;
  background-image: url(../images/white.jpg);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#fff, 0.8);
  }
  h1 {
    position: relative;
    display: block;
    font-size: 3.3rem;
    font-size: clamp(2.1rem, 4.5vw, 3.3rem);
    color: black;
    max-width: 41rem;
    width: 90%;
    text-align: center;
    font-weight: 900;
    z-index: 200;
    line-height: 1.4;

    text-transform: uppercase;
    span {
      font-size: 4.2rem;
      font-size: clamp(3rem, 6vw, 4.4rem);
      line-height: 1;
    }
  }
}

#black {
  background-image: url(../images/black.jpg);
  background-color: #000;
}

.index-bg {
  top: 0;
  left: 0;
  width: 100%;
  background-position: center;
  background-size: unquote("min(160vh, 130%)");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: $hero-height;
}

@media (pointer: none), (pointer: coarse) {
  #black {
    display: none;
  }
  .index-bg {
    background-attachment: unset;
  }
}
