$card-img-h: 20rem;
$card-img-w: 20rem;

main {
  padding: 2.5rem 0.8rem;
}

.setups {
  background-color: black;
  min-height: 45rem;
  .card {
    transition: height 350ms ease-in-out;
    background-color: $orange;
    border-radius: 8px;
    padding: 1rem;
    max-width: 100%;
    max-width: 20rem;
    height: 24rem;
    &-2 {
      height: 30rem;
    }
    margin: 2rem auto;
    color: white;
    text-align: center;
    overflow: hidden;

    &-img {
      position: relative;
      display: block;
      margin: 0 auto;
      border-radius: 8px;
      height: 18rem;
      max-width: 18rem;
      transform-origin: top;
      transition: transform 300ms ease-in-out;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      &-1 {
        background-image: url(../images/setup-1.jpg);
      }
      &-2 {
        background-image: url(../images/setup-2.jpg);
      }
      &-3 {
        background-image: url(../images/setup-3.jpg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(transparent, black);
        border-radius: 8px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
    }
    &-content {
      transition: transform 300ms ease-in-out;
    }
    &-title {
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      font-size: 1.4rem;
      margin-bottom: 0.2rem;
    }

    &-subtitle {
      margin-top: 0;
      font-size: 1.1rem;
      font-weight: 400;
    }
    &-price {
      font-family: "roboto", sans-serif;
      letter-spacing: 0;
    }
    &-description {
      line-height: 1.6;
      text-align: center;
      font-weight: 100;
      font-size: 0.9rem;
    }
    &-btn {
      color: black;
      transition: color 250ms ease-in-out;
      &:hover {
        color: white;
      }
    }

    &-content {
      transform: translateY(-10.35rem);
    }
    &-img {
      transform: scale(0.87);
      &::after {
        //image overlay
        opacity: 0.7;
      }
    }
    &-price,
    &-description {
      opacity: 1;
    }
  }
  @media (hover) {
    .card-price,
    .card-description {
      opacity: 0;
      transition: opacity 400ms ease-in-out 150ms;
    }

    .card-content {
      transform: translateY(0rem);
    }
    .card-img {
      transform: scale(1);
      &::after {
        //image overlay
        opacity: 0;
      }
    }
    .card:hover {
      .card-content {
        transform: translateY(-10.35rem);
      }
      .card-img {
        transform: scale(0.87);
        &::after {
          //image overlay
          opacity: 0.7;
        }
      }
      .card-price,
      .card-description {
        opacity: 1;
      }
    }
    .card-2 {
      height: 24rem;
      &:hover {
        height: 30rem;
      }
    }
  }

  @media screen and (min-width: 48.125rem) {
    //DESKTOP

    .grid {
      max-width: 80rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 2.5em;
    }
  }
}
