
/////////////////////////////////////////////
//import roboto and make font-face for MADE//
/////////////////////////////////////////////


$orange: #f35d2a;
$hero-height: 80vh;
$footer-padding: 4rem;
$footer-block: 280px;
$offWhite: rgba(white, .8);

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $orange;
    border-bottom: 5px solid black;
    z-index: 600;
    font-size: 1em;
    font-size: clamp(1em, 1.5vw, 1.3em);
    .nav-img {
        max-width: 908px;
        width: 50%;
        height: 93px;
        background-image: url(../images/banner-sm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-origin: right;
        border-right: 5px solid black;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 40%;
        margin-right: 5%;
        
        a{
            transition: color 300ms ease-in-out;
            &:hover, &.selected {
                color: white;
            }
        }

        &-mob {
            position: absolute;
            top: 150px;
            right: 0;
            bottom: 0;
            left: 0;
            color: white;
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 7vw, 2.5rem);
            line-height: 2.2;
            text-align: center;
            display: flex;
            flex-direction: column;
            display: none;
            
            
            
        }

    }
    .nav-mascot {
        position: absolute;
        top: 6px;
        left: 12%;
        max-width: 100%;
        width: 30vw;
        min-width: 7.5rem;
        
    }
    .nav-insta {
        position: relative;
        margin-left: 100%;
        transform: translateY(-110%);
        display: inline-block;
        font-size: 2.5rem;
        color: white;
        transition: color 300ms ease-in-out;
        &:hover {
            color: black;
        }

    }
}

html {
    margin: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
}
a, a:hover, a:visited {
    
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: inherit;
    
}
h1, h2, h3, h4, p {
    font-family: 'Roboto', sans-serif;
}
h1, h2 {
    font-family: 'MADE GoodTime Grotesk', sans-serif;
    letter-spacing: 4px;
}

h3 {
    font-size: 1.3em;
    font-weight: 300;
}
body {
    margin: 0;
    //height: 150em;
    background-color: $orange;
    overflow: visible;
    &.locked {
        overflow: hidden;
    }
}

img {
    display: block;
    max-width: 100%;
    
}
.img {
    top: 0;
    left: 0;
    width: 100%;
    background-position: center;
    //background-size: 85vw;
    background-size: unquote("min(160vh, 130%)");
    background-attachment: fixed;
    //background-position-y: -80px;
    background-repeat: no-repeat;
    height: $hero-height;
}
#orange {
    background-image: url(../images/orange.jpg);
    background-color: $orange;
    
}
#white {
    position: relative;
    background-image: url(../images/white.jpg);  
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#fff, .80);
    }
    h1 {
        position: relative;
        display: block;
        font-size: 3.3rem;
        font-size: clamp(2.1rem, 4.5vw, 3.3rem);
        color: $orange;
        max-width: 41rem;
        width: 90%;
        text-align: center;
        font-weight: 400;
        z-index: 200;
        line-height: 1.4;
        
        text-transform: uppercase;
        span {
            font-size: 4.2rem;
            font-size: clamp(3rem, 6vw, 4.4rem);
            color: $orange;
            line-height: 1;
            
        }
    }
}

#black {
    background-image: url(../images/black.jpg);
    background-color: #000;

    
}
.footer {
    
    position: absolute;
    width: 100%;
    background-color: $orange;
    z-index: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3em 0;
    

   &-logo {
        width: 110px;
        margin-left: auto;
        
    }
    &-text {
        padding-left: $footer-padding;
        width: $footer-block;
        color: rgba(#000, .80);
        font-size: .7rem;
        line-height: 1.6;
        span {
            display: block;
        }
    }
        
    &-links-container {
        margin-left: auto;
        width: $footer-block;
        padding: .3em $footer-padding .3em 0;
    }
    &-links {
        margin: 0 0 0 auto;
        width: fit-content;
        padding: .4em 0;
        line-height: 1.6;
        font-size: .9rem;
        display: flex;
        justify-content: space-around;
        color: rgba(#000, .80);
        flex-direction: column;
        
        a {
            
            margin: .3em 0;
            display: flex;
            align-items: center;
        }

        }
    
        
        a {
            &:hover {
                color: $offWhite;
                .fas, .fab {
                    color: $offWhite;
                }
            }
            .fas, .fab {
                display: inline-block;
                font-size: 1.3rem;
                color: rgba(#000, .80);
                margin-right: .4em;

            }

        }
        a, .fab, .fas {
            transition: color 300ms ease-in-out;
        }
    }

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index: 500;
    pointer-events: none;
    transition: opacity 300ms ease-in-out;
    &.active {
        opacity: 1;
    }
    
}

////mobile

@media screen and (max-width: 51.5em) {
    .footer {
        flex-direction: column;
        align-items: center;
        &-text {
            order: 2;
            margin: 0 auto;
            text-align: center;
            padding: .3em 0 .3em 0;
            font-size: .6em;
            span {
                display: inline;
                z-index: 999;
            }
        }
        &-logo {
            order: -1;
            margin: 0 auto;
        }
        &-links {
            position: relative;
            order: 3;
            margin: 0 auto;
            
            a {
                justify-content: center;
                text-align: center;
            }
        }
        &-links-container {
            position: relative;
            margin: 0 auto;
            padding: 0;
        }
    }
    .nav, nav {
        &-links {
            display: none !important;
        }
        &-hamburger {
            margin-right: 2em;
    
            > span {
                //position: relative;
                display: block;
                width: 26px;
                height: 2px;
                background:white;
                transform-origin: 3px 1px;
                margin-bottom: 5px;
                transition: 250ms ease-in-out;
            }
        }
        
    
            // Hamburger Open
        &.open {

            .nav-links-mob {
                display: flex;
            }

            .nav-hamburger {     
                > span:first-child {
                    transform: rotate(45deg);
                }
    
                > span:nth-child(2) {
                    opacity: 0;
                }
    
                > span:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-height: 33em) {
    nav {
        position: static;
    }

}