nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f35d2a;
  border-bottom: 5px solid black;
  z-index: 600;
  font-size: 1em;
  font-size: clamp(1em, 1.5vw, 1.3em);
}

nav .nav-img {
  max-width: 908px;
  width: 50%;
  height: 93px;
  background-image: url(../images/banner-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: right;
  border-right: 5px solid black;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin-right: 5%;
}

nav .nav-links a {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

nav .nav-links a:hover, nav .nav-links a.selected {
  color: white;
}

nav .nav-links-mob {
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 7vw, 2.5rem);
  line-height: 2.2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

nav .nav-mascot {
  position: absolute;
  top: 6px;
  left: 12%;
  max-width: 100%;
  width: 30vw;
  min-width: 7.5rem;
}

nav .nav-insta {
  position: relative;
  margin-left: 100%;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  display: inline-block;
  font-size: 2.5rem;
  color: white;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

nav .nav-insta:hover {
  color: black;
}

html {
  margin: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover, a:visited {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: inherit;
}

h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'MADE GoodTime Grotesk', sans-serif;
  letter-spacing: 4px;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: #f35d2a;
  overflow: visible;
}

body.locked {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.img {
  top: 0;
  left: 0;
  width: 100%;
  background-position: center;
  background-size: min(160vh, 130%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 80vh;
}

#orange {
  background-image: url(../images/orange.jpg);
  background-color: #f35d2a;
}

#white {
  position: relative;
  background-image: url(../images/white.jpg);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#white::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#white h1 {
  position: relative;
  display: block;
  font-size: 3.3rem;
  font-size: clamp(2.1rem, 4.5vw, 3.3rem);
  color: #f35d2a;
  max-width: 41rem;
  width: 90%;
  text-align: center;
  font-weight: 400;
  z-index: 200;
  line-height: 1.4;
  text-transform: uppercase;
}

#white h1 span {
  font-size: 4.2rem;
  font-size: clamp(3rem, 6vw, 4.4rem);
  color: #f35d2a;
  line-height: 1;
}

#black {
  background-image: url(../images/black.jpg);
  background-color: #000;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #f35d2a;
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3em 0;
}

.footer-logo {
  width: 110px;
  margin-left: auto;
}

.footer-text {
  padding-left: 4rem;
  width: 280px;
  color: rgba(0, 0, 0, 0.8);
  font-size: .7rem;
  line-height: 1.6;
}

.footer-text span {
  display: block;
}

.footer-links-container {
  margin-left: auto;
  width: 280px;
  padding: 0.3em 4rem 0.3em 0;
}

.footer-links {
  margin: 0 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .4em 0;
  line-height: 1.6;
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links a {
  margin: .3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer a:hover .fas, .footer a:hover .fab {
  color: rgba(255, 255, 255, 0.8);
}

.footer a .fas, .footer a .fab {
  display: inline-block;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
  margin-right: .4em;
}

.footer a, .footer .fab, .footer .fas {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  z-index: 500;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.overlay.active {
  opacity: 1;
}

@media screen and (max-width: 51.5em) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    text-align: center;
    padding: .3em 0 .3em 0;
    font-size: .6em;
  }
  .footer-text span {
    display: inline;
    z-index: 999;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto;
  }
  .footer-links {
    position: relative;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 auto;
  }
  .footer-links a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer-links-container {
    position: relative;
    margin: 0 auto;
    padding: 0;
  }
  .nav-links, nav-links {
    display: none !important;
  }
  .nav-hamburger, nav-hamburger {
    margin-right: 2em;
  }
  .nav-hamburger > span, nav-hamburger > span {
    display: block;
    width: 26px;
    height: 2px;
    background: white;
    -webkit-transform-origin: 3px 1px;
            transform-origin: 3px 1px;
    margin-bottom: 5px;
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }
  .nav.open .nav-links-mob, nav.open .nav-links-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav.open .nav-hamburger > span:first-child, nav.open .nav-hamburger > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav.open .nav-hamburger > span:nth-child(2), nav.open .nav-hamburger > span:nth-child(2) {
    opacity: 0;
  }
  .nav.open .nav-hamburger > span:last-child, nav.open .nav-hamburger > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (max-height: 33em) {
  nav {
    position: static;
  }
}
/*# sourceMappingURL=style.css.map */