@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "MADE GoodTime Grotesk";
  src: url("/static/main/fonts/MADEGoodTimeGrotesk.woff2") format("woff2"), url("/static/main/fonts/MADEGoodTimeGrotesk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: inherit;
}

h3,
h4,
p,
li {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "MADE GoodTime Grotesk", sans-serif;
  letter-spacing: 4px;
}

h3 {
  font-size: 1.3em;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: #f35d2a;
  overflow: visible;
}

body.locked {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.7em 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.btn:hover {
  background-color: black;
  border-color: white;
  color: white;
}

.banner-header {
  background-color: #DEE2EE;
  padding: 3rem 2em;
  text-align: center;
}

.banner-header.align-left {
  text-align: left;
}

.banner-header.align-left .banner-header-text {
  margin-left: 0;
}

.banner-header-title {
  display: inline-block;
  margin: 0 0 0 0;
  letter-spacing: -4px;
  color: #f35d2a;
  font-size: 4rem;
  font-size: clamp(3.6rem, 9vw, 5rem);
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.banner-header-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  position: relative;
}

.banner-header-text {
  font-weight: 200;
  max-width: 25rem;
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 1em auto;
}

.banner-header-img {
  width: 17rem;
  max-width: 50%;
  margin: 0 auto;
  display: none;
}

.banner-header-img-dig {
  width: 20rem;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.banner-header-btn {
  margin-bottom: 2em;
}

@media screen and (min-width: 51.5em) {
  .banner-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
  }
  .banner-header-img {
    margin: 0;
    display: block;
  }
  .banner-header-text {
    margin: 2em 2em 2em 0;
  }
  .banner-header-title {
    margin-right: 0.7em;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  z-index: 400;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.overlay.active {
  opacity: 1;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f35d2a;
  border-bottom: 5px solid black;
  z-index: 400;
  font-size: 1em;
  font-size: clamp(1em, 1.5vw, 1.3em);
}

.nav-img {
  max-width: 908px;
  width: 50%;
  height: 93px;
  background-image: url(../images/banner-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: right;
  border-right: 5px solid black;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin-right: 5%;
}

.nav-links a {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.nav-links a:hover, .nav-links a.selected {
  color: white;
}

.nav-links-mob {
  position: absolute;
  top: max(125px, 20vh);
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 1.5rem;
  font-size: clamp(0.5rem, 3vh, 2.5rem);
  line-height: 2.2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  z-index: 600;
}

.nav-links-mob a.selected {
  color: #f35d2a;
}

.nav-mascot {
  position: absolute;
  top: 6px;
  left: 12%;
  max-width: 100%;
  width: 20vw;
  min-width: 6.5rem;
}

.nav-insta {
  position: relative;
  margin-left: 100%;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  display: inline-block;
  font-size: 2.5rem;
  color: white;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.nav-insta:hover {
  color: black;
}

@media screen and (max-width: 51.5em) {
  .nav-links {
    display: none !important;
  }
  .nav-hamburger {
    margin-right: 2em;
    z-index: 600;
  }
  .nav-hamburger > span {
    display: block;
    width: 26px;
    height: 2px;
    background: white;
    -webkit-transform-origin: 3px 1px;
            transform-origin: 3px 1px;
    margin-bottom: 5px;
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }
  .nav.open .nav-links-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav.open .nav-hamburger > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav.open .nav-hamburger > span:nth-child(2) {
    opacity: 0;
  }
  .nav.open .nav-hamburger > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (max-height: 30em) {
  .nav {
    position: static;
  }
  .nav-links-mob {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

#orange {
  background-image: url(../images/orange.jpg);
  background-color: #f35d2a;
}

#white {
  position: relative;
  background-image: url(../images/white.jpg);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#white::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#white h1 {
  position: relative;
  display: block;
  font-size: 3.3rem;
  font-size: clamp(2.1rem, 4.5vw, 3.3rem);
  color: black;
  max-width: 41rem;
  width: 90%;
  text-align: center;
  font-weight: 400;
  z-index: 200;
  line-height: 1.4;
  text-transform: uppercase;
}

#white h1 span {
  font-size: 4.2rem;
  font-size: clamp(3rem, 6vw, 4.4rem);
  line-height: 1;
}

#black {
  background-image: url(../images/black.jpg);
  background-color: #000;
}

.index-bg {
  top: 0;
  left: 0;
  width: 100%;
  background-position: center;
  background-size: min(160vh, 130%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 80vh;
}

@media (pointer: none), (pointer: coarse) {
  #black {
    display: none;
  }
  .index-bg {
    background-attachment: unset;
  }
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #f35d2a;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em 0;
}

.footer-logo {
  width: 110px;
  margin-left: auto;
}

.footer-text {
  padding-left: 4rem;
  width: 280px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  line-height: 1.6;
}

.footer-text span {
  display: block;
}

.footer-links-container {
  margin-left: auto;
  width: 280px;
  padding: 0.3em 4rem 0.3em 0;
}

.footer-links {
  margin: 0 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4em 0;
  line-height: 1.6;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links a {
  margin: 0.3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer-links a:hover .fas,
.footer-links a:hover .fab {
  color: rgba(255, 255, 255, 0.8);
}

.footer-links a .fas,
.footer-links a .fab {
  display: inline-block;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 0.4em;
}

.footer a,
.footer .fab,
.footer .fas {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

@media screen and (max-width: 51.5em) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    text-align: center;
    padding: 0.3em 0 0.3em 0;
    font-size: 0.6em;
  }
  .footer-text span {
    display: inline;
    z-index: 999;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto;
  }
  .footer-links {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 auto;
  }
  .footer-links a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-links-container {
    margin: 0 auto;
    padding: 0;
  }
}

main {
  padding: 2.5rem 0.8rem;
}

.setups {
  background-color: black;
  min-height: 45rem;
}

.setups .card {
  -webkit-transition: height 350ms ease-in-out;
  transition: height 350ms ease-in-out;
  background-color: #f35d2a;
  border-radius: 8px;
  padding: 1rem;
  max-width: 100%;
  max-width: 20rem;
  height: 24rem;
  margin: 2rem auto;
  color: white;
  text-align: center;
  overflow: hidden;
}

.setups .card-2 {
  height: 30rem;
}

.setups .card-img {
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  height: 18rem;
  max-width: 18rem;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.setups .card-img-1 {
  background-image: url(../images/setup-1.jpg);
}

.setups .card-img-2 {
  background-image: url(../images/setup-2.jpg);
}

.setups .card-img-3 {
  background-image: url(../images/setup-3.jpg);
}

.setups .card-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(transparent, black);
  border-radius: 8px;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.setups .card-content {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.setups .card-title {
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}

.setups .card-subtitle {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.setups .card-price {
  font-family: "roboto", sans-serif;
  letter-spacing: 0;
}

.setups .card-description {
  line-height: 1.6;
  text-align: center;
  font-weight: 100;
  font-size: 0.9rem;
}

.setups .card-btn {
  color: black;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.setups .card-btn:hover {
  color: white;
}

.setups .card-content {
  -webkit-transform: translateY(-10.35rem);
          transform: translateY(-10.35rem);
}

.setups .card-img {
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
}

.setups .card-img::after {
  opacity: 0.7;
}

.setups .card-price, .setups .card-description {
  opacity: 1;
}

@media (hover) {
  .setups .card-price,
  .setups .card-description {
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out 150ms;
    transition: opacity 400ms ease-in-out 150ms;
  }
  .setups .card-content {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  .setups .card-img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .setups .card-img::after {
    opacity: 0;
  }
  .setups .card:hover .card-content {
    -webkit-transform: translateY(-10.35rem);
            transform: translateY(-10.35rem);
  }
  .setups .card:hover .card-img {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  .setups .card:hover .card-img::after {
    opacity: 0.7;
  }
  .setups .card:hover .card-price,
  .setups .card:hover .card-description {
    opacity: 1;
  }
  .setups .card-2 {
    height: 24rem;
  }
  .setups .card-2:hover {
    height: 30rem;
  }
}

@media screen and (min-width: 48.125rem) {
  .setups .grid {
    max-width: 80rem;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2.5em;
  }
}

.header-title-long {
  font-size: clamp(2.5rem, 13vw, 5rem) !important;
}

.equipment {
  background-color: black;
  padding-left: 2em;
}

.equipment-container {
  margin: 0 auto;
  max-width: 50rem;
}

@media screen and (min-width: 40rem) {
  .equipment-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0 8rem;
  }
}

.equipment-category {
  color: #f35d2a;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 0;
}

.equipment ul {
  margin-top: 0.5rem;
  list-style: none;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 0;
  line-height: 1.8;
}

.about-banner-header {
  background-color: black;
  padding: 3rem 1.5em 1em;
  color: white;
}

.about-banner-header-title {
  max-width: 25rem;
  margin: 0 auto;
  letter-spacing: -6px;
  color: #f35d2a;
  font-size: 4rem;
  font-size: clamp(3.6rem, 9vw, 5rem);
  font-weight: 900;
  -webkit-text-stroke: 1px black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.about-banner-header-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  position: relative;
}

.about-banner-header-text {
  font-weight: 200;
  max-width: 25rem;
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 1em auto;
}

.about-banner-header-img {
  width: 17rem;
  max-width: 50%;
  margin: 0 auto;
  display: none;
}

.about-banner-header-btn {
  margin-bottom: 2em;
}

@media screen and (min-width: 51.5em) {
  .about-banner-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
  }
  .about-banner-header-title {
    text-align: left;
    margin: 0 0.7em 0 0;
  }
  .about-banner-header-img {
    margin: 0;
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-banner-header-text {
    margin: 2em 2em 2em 0;
  }
}

.about {
  background-color: black;
  color: white;
  font-size: 1.2em;
  font-weight: 100;
  padding: 0 1.5em 2em;
}

.about p {
  line-height: 1.6;
  max-width: 25rem;
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 0 auto 1em;
}

@media screen and (min-width: 51.5em) {
  .about {
    padding-top: 0;
  }
  .about p {
    max-width: 45rem;
    margin: 0 auto 1.4em;
  }
}

.contact {
  background-color: black;
  color: white;
  font-family: "roboto", sans-serif;
}

form {
  display: block;
  max-width: 47.5rem;
  margin: 0 auto;
}

form label {
  font-size: 1.15rem;
  text-align: center;
  line-height: 2.5;
}

form input,
form textarea {
  outline: none;
  font-size: 1.1rem;
  border-radius: 8px;
  width: 100%;
  padding: 0.4rem;
  font-family: "roboto", sans-serif;
  margin-bottom: 1rem;
  border: none;
}

form #message {
  width: 100%;
  height: 10rem;
}

form .form-control {
  display: inline;
  width: 48%;
}

form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-btn {
  display: block;
  margin: 1.5rem auto 1rem;
  font-size: 1rem;
}

@media screen and (max-width: 37em) {
  form .form-row {
    display: block;
  }
}

.message-container {
  display: block;
  padding: 2rem;
  background-color: #141414;
  max-width: 35rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
}

.message-container h1 {
  font-size: 4rem;
  font-size: clamp(2.7rem, 9vw, 4.5rem);
  margin: 0;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 300;
}

.message-container p {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
/*# sourceMappingURL=style.css.map */